

.formControl.error input,
.formControl.error textarea{
    border: 0.5rem solid red;
}

.formControl.error span{
    color: red;
    font-size: 20px;
}

.formSummaryError {
    border: 0.5rem solid red;
    padding-top: 5px;
}
.formSummaryError span {
    color: red;
}