
header {
    grid-area: h;
    background-color: #292828;
}

headerContainer {

}

.headerLogo {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
}

.headerLogo a {
    display: block;
    font-weight: 600;
    font-size: 20px;
    line-height: 35px;
    text-transform: uppercase;
    color: #fff;
}

.loginBlock{
    text-decoration: underline;
    letter-spacing: 0.1rem;
}



